@using TestCarWash.Content.Common
@model TestCarWash.Models.ProvidedService

@{
    ViewBag.Title = PageStrings.ProvidedServiceDeletePageTitleText;
}

<h2>@PageStrings.ProvidedServiceDeletePageTitleText</h2>

<h3>Вы уверены, что хотите удалить информацию об оказанной услуге?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMinutes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@PageStrings.DeleteButtonText class="btn btn-default" />
        </div>
        <br/>
        <div>
            @Html.ActionLink(PageStrings.BackToListButtonText, "Index", new { clientId = Model.ClientId })
        </div>
    }
</div>
