@using TestCarWash.Content.Common
@model TestCarWash.ViewModels.ProvidedServicesIndexData

@{
    ViewBag.Title = PageStrings.ClientIndexPageTitleText;
}

<h2>@PageStrings.ClientIndexPageTitleText</h2>

<p>
    @Html.ActionLink(PageStrings.CreateClientButtonText, "Create", "Client")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clients.First().Person)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clients.First().PhoneNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var client in Model.Clients)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => client.Person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink(PageStrings.ShowProvidedServiceListButtonText, "Index", new { clientId = client.Id }) |
                @Html.ActionLink(PageStrings.EditClientButtonText, "Edit", "Client", new { id = client.Id }, null) |
                @Html.ActionLink(PageStrings.DeleteClientButtonText, "Delete", "Client", new { id = client.Id }, null)
                @*Html.ActionLink(PageStrings.PrintProvidedServiceButtonText, "TestInDesign")*@
            </td>
        </tr>
    }
</table>
@if (Model.ProvidedServices != null)
{
    <h3>Оказанные клиенту услуги</h3>
    <p>
        @Html.ActionLink(PageStrings.CreateProvidedServiceButtonText, "Create", new { clientId = (int)ViewBag.ClientId })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.First().ServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.First().Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.First().Service.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.First().Service.PricePerMinute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.First().NumberOfMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.First().TotalPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ProvidedServices)
        {
            var selectedRow = "";
            if (item.ClientId == ViewBag.ClientId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.PricePerMinute)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfMinutes)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </th>
                <th>
                    @Html.ActionLink(PageStrings.EditButtonText, "Edit", new { id = item.Id }) |
                    @Html.ActionLink(PageStrings.DeleteButtonText, "Delete", new { id = item.Id })
                </th>
            </tr>
        }
    </table>
}
