@using TestCarWash.Content.Common
@model IEnumerable<TestCarWash.Models.Service>

@{
    ViewBag.Title = PageStrings.ServiceIndexPageTitleText;
}

<h2>@PageStrings.ServiceIndexPageTitleText</h2>

<p>
    @Html.ActionLink(PageStrings.CreateServiceButtonText, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PricePerMinute)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PricePerMinute)
        </td>
        <td>
            @Html.ActionLink(PageStrings.EditButtonText, "Edit", new { id=item.Id }) |
            @Html.ActionLink(PageStrings.DeleteButtonText, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
