@using TestCarWash.Content.Common
@model TestCarWash.Models.Client

@{
    ViewBag.Title = PageConstants.ClientDetailsPageTitleString;
}

<h2>@PageConstants.ClientDetailsPageTitleString</h2>

<div>
    <h4>Клиент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvidedServices)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProvidedServices.First().ServiceDate)</th>
                    <th>@Html.DisplayNameFor(model => model.ProvidedServices.First().Service.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.ProvidedServices.First().Service.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.ProvidedServices.First().Service.PricePerMinute)</th>
                    <th>@Html.DisplayNameFor(model => model.ProvidedServices.First().NumberOfMinutes)</th>
                    <th>@Html.DisplayNameFor(model => model.ProvidedServices.First().TotalPrice)</th>
                </tr>
                @foreach (var providedService in Model.ProvidedServices)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => providedService.ServiceDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => providedService.Service.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => providedService.Service.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => providedService.Service.PricePerMinute)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => providedService.NumberOfMinutes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => providedService.TotalPrice)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку клиентов", "Index")
</p>
